*, *::before, *::after {
    box-sizing:border-box;
}

* {
    margin: 0;
    padding: 0;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

table {
    border-collapse: collapse;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

textarea {
    white-space: revert;
}

::placeholder {
    color: unset;
    font: inherit;
}

a, a:visited {
    text-decoration: none;
    color: unset;
}

input {
    outline: unset;
}